*{
    margin: 0;
    padding: 0;
}
.container{
    height: 100vh;
}
.buttons{
    border-radius: 10px;    
    display:inline-flex;
    padding: 10px;
    gap: 50px;
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
}

.btn{
    border-radius: 50px;
    padding: 10px;
    font-size: medium;
    border: 0;
}

#black{
    background-color: black;
    color: white;
}
#blue{
    background-color: powderblue;
    color: black;
}
#pink{
    background-color: pink;
    color: black;
}
#red{
    background-color: lightcoral;
    color:white;
}
#green{
    background-color:teal;
    color: white;
}
#yellow{
    background-color: khaki;
    color: black;
}